.logo-nav-j1 {
  height: 36px;
}

.nav-link {
  padding: 7px 21px !important;
}

.fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-h1-j1 {
  font-size: calc(1.25rem + 3vw);
  line-height: 1.5;
}

.bg-icon-j1 {
  aspect-ratio: 1 / 1;
  padding: 16px;
  background-color: rgb(122,117,248);
  border-radius: 50%;
}

.link-j1 {
  text-decoration: none;
  color: var(--bs-body-color);
}

.navbar-brand {
  border: none;
}

.navbar {
  border: none;
}

